.home{
    height:80%;
    width:100%;
}
.home_main{
    height:100%;
    width:100%;
    position: relative;
    top:1rem;

}
.header_d{
    background: #1c2635;
    height:1rem;
    width:100%;
    text-align: center;
    color:#fff;
    font-size:.5rem;
    font-weight: 800;
    line-height:1rem;
    z-index: 100;
    position: fixed;
    top:0;
    left:0
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 2.5rem;
    width:100%;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
.ant-carousel .slick-slide img{
    height:100%;
    width:100%;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}
.hotMovesList{
    height:7rem;
    width:100%;
    margin-bottom: .5rem;
    background:#fff;
}
.hotMovesList ul{
   height:7rem;
    width:100%;
    overflow: hidden;
}
.hotMovesList ul li{
    height:3.5rem;
    width:25%;
    float: left;
}
.hotMovesList ul li a{
    height:3.5rem;
    width:100%;
    float: left;
    color:#000;
}
.hotMovesList ul li img{
    height:70%;
    width:100%;
}
.hotMovesList ul li p{
    text-align: center;
    font-size: .32rem;
    font-weight: 800;
}
.hotMoves{
    height:1rem;
    width:100%;
    padding:0 .2rem;
}
.hotMoves a{
    font-size:.5rem;
    line-height: 1rem;
    color:#000;
    font-weight:800;
    display: block;
}
.hotMoves_a{
    float: left;
}
.hotMoves_b{
    float: right;
}
.adv_d{
    height:3rem;
    width:100%;
    margin-top:.3rem;
    border-top:.02rem #ccc solid;
}
.adv_d img{
    height:100%;
    width:100%;
}
.hotpoint_p_d{
    height:.7rem;
    font-size:.4rem;
    font-weight:800;
    color:#000;
    margin-top:.4rem;
}
.hotpoint_li_d{
    height:3rem;
    width:100%;
}
.hotpoint_li_d a{
    height:100%;
    display: block;
    width:100%;
}
.hotpoint_img_d{
    height:2rem;
    width:40%;
    float: left;
}
.hotpoint_div_d{
    height:3rem;
    width:60%;
    float: left;
    padding-left:.3rem;
    position: relative;
}
.hotpoint_title_d{
    font-size: .4rem;
    font-weight:800;
    color:#333;
    position: absolute;
    top:.1rem;
}
.hotpoint_desc_d{
    font-size: .30rem;
    font-weight:200;
    color:#777;
    position: absolute;
    top:.8rem;
}
.hotpoint_time_d{
    font-size: .30rem;
    font-weight:200;
    color:#777;
    position: absolute;
    top:1.3rem;
}
